<% provide(:title, 'Home') %>
<div class="center hero-unit hero-top">
	<h1>Home page</h1>

	<p>
		This page will start with an option to join with a concise description of the website. It will then be divided into sections describing the website features
	</p>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-primary" %>
</div>